/* body {
	 background: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
	 background-size: cover;
	 display: grid;
	 place-items: center;
} */
 .holder {
	 position: relative;
}
 .holder:before, .holder:after {
	 animation: orbit 5s linear infinite;
	 border-radius: 50%;
	 box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	 content: "";
	 height: 150px;
	 position: absolute;
	 width: 150px;
}
 .holder:before {
	 background: #ffe897;
	 background: -moz-radial-gradient(top right, #ffe897, #f98a05);
	 background: radial-gradient(to bottom left, #ffe897, #f98a05);
	 background: -webkit-radial-gradient(top right, #ffe897, #f98a05);
}
 .holder:after {
	 animation-delay: -2.5s;
	 background: #e0e793;
	 background: -moz-radial-gradient(bottom right, #e0e793, #6dd0f1);
	 background: radial-gradient(to top left, #e0e793, #6dd0f1);
	 background: -webkit-radial-gradient(bottom right, #e0e793, #6dd0f1);
	 right: 0;
	 top: 0;
	 z-index: -1;
}
 .CA_card {

	 border-radius: 15px;
	 box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	 font-size: 2rem;
	 height: 220px;
	 overflow: hidden;
	 position: relative;
	 width: 370px;
	 
}
 .CA_card:before {
	     background: radial-gradient(218.51% 281.09% at 100% 100%, rgba(247, 114, 105, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
	 backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	 -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	 content: "";
	 height: 100%;
	 position: absolute;
	 width: 100%;
}

 .CA_card__text {
	 color: #181818;
	 font-size: x-large;
	 margin-left: 30px;
	 margin-top: 10px;
	 position: relative;
	 z-index: 2;
}
 .logo{
	font-weight: bold;
	right: 0;
	font-size: 25px;
}
.CA_card__text ._date{
	font-size: 12px;
}
 .CA_card svg {
	 bottom: 30px;
	 position: absolute;
	 right: 30px;
}
 @keyframes orbit {
	 from {
		 transform: rotate(0deg) translateX(100px) rotate(0deg);
	}
	 to {
		 transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}
 