
*{
  padding: 0;
  margin: 0;
  box-sizing: boarer-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-bg:#FFFFFF;
}

.main-bg {
  /* background: url(https://i.postimg.cc/PrrMT2vS/Group-1215.png)no-repeat; */
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}
.main h1 {
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 50px;
  padding-right: 110px;
  font-family: Arial, Helvetica, sans-serif;
}
.main h2 {
  color: #FFFFFF;
  font-size: 3.375rem;
  font-weight: 700;
  padding-left: 60px;
  line-height: 30.49px;
  font-family: Arial, Helvetica, sans-serif;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 650px) {
  .h-custom {
    height: 100%;
  }
}


input:focus, button:focus {
  border: 1px solid #0F62FE !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #0F62FE !important;
  border-color: #0F62FE !important;
}

.card, .btn, input{
  border-radius:1 !important;
}